body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --vh: 1vh;
  --vmin: 1vmin;
  --vmax: 1vmax;
  --vw: 1vw;
}

header {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(-18 * var(--vh));
  }

  header .header-background-cover {
    position: absolute;
    height: 40%;
    width: 100%;
    background: url(/images/header.PNG) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  .header-logo {
    margin-top: 22vh;
    display: block;
    justify-content: center;
    max-width: 15vmin;
    min-width: 14vmin;
  }

nav {
  background: #ffff;
  text-align: center;
  padding: 1vh calc(5 * var(--vw));
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(-10 * var(--vh));
}

nav .user-info-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vh;
}

nav .user-info-container .user-photo {
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 1vh;
}

nav .user-info {
  padding: 1vh;
  background: #ffff;
  min-width: 8vh;
  text-align: left;
}

nav .user-info h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 1vh calc(2 * var(--vw));
  margin: 0 1vh;
  font-size: calc(1em + 1vmin);
}

.new-products {
  text-align: center;
  padding: 1vh calc(5 * var(--vw));
  background: #ffff;
  margin: 1vh 0;
}

.new-products h2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #6451A6;
  font-size: 5vmin;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  align-items: center;
  padding: 2vh calc(2 * var(--vw));
}

.product-item {
  
  width: calc(22% - 2vw);
  margin-bottom: 2vh;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.product-item img {
  width: 100%;
  height: 30vmin;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-item .product-info {
  padding: 1vh;
  display: flex;
  flex-direction: column;
}

.product-item .product-title {
  margin: 0;
  font-size: 15px;
}

.product-item .product-description {
  margin: 10px 0;
  font-size: 14px;
  color: #000;
  text-align: left;
}

.product-item .product-price {
  margin: 5px 0;
  font-weight: bold;
  font-size: 12px;
}

.btn {
  background-color: #5f42c7;
  color: #fff;
  padding: 4px 12px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 1px;
  font-size: 2vh;
}

.btn:hover {
  background-color: #6a4adc;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  font-size: 1vh;
  align-items: center;
  li {
    &:not(:last-child) {
      margin-right: 5px; /* Ajustado para acercar cada enlace del ul */
    }

    &:first-child {
      margin-left: 0;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    a {
      display: block;
      text-decoration: none;
      color: #000;
      padding: 10px;
    }
  }
}

nav li {
  display: inline-block;
  margin-right: 50px;
}

.nav .btn-container {
  display: inline-block;
  margin-left: 1vw;
}

.user-photo {
  justify-content: flex-end;
  margin-left: 1vw;
}

.footer {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh calc(5 * var(--vw));
}

.contact-us {
  margin-bottom: 10px;
  color: #007bff;
  cursor: pointer;
}

.copyright {
  font-size: 14px;
  color: #6c757d;
}

@media (max-width: 768px) {
  nav a {
    font-size: 1rem;
  }

  .product-item {
    width: calc(48% - 2vw);
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 0.9rem;
  }

  .product-item {
    width: 100%;
  }
}