* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    width: inherit;
    font-size: 1.8vh;
}

.container {
    padding: 2vw 2vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 70vw;
    bottom: -3vw;
    position: relative;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2vw);
    margin-bottom: 2vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

img {
    width: 6vw;
    height: auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

li {
    cursor: pointer;
    font-size: 1.5vw;
    margin-right: 3vw;
}

li:hover {
    transform: scale(1.5);
}

.up {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60vw);
    align-items: flex-start;
}

.purple-box-image {
    width: 20vw;
    height: 55vh;
    object-fit: cover;
    border-radius: 1vw 1vh;
    margin-right: 5vw;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo-container {
    width: 10vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3vh;
}

.logo {
    width: 100%;
    position: relative;
    top: -3vw;
    left: 15vw;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    position: relative;
    top: -4vw;
    left: 15vw;
    
}


label {
    display: block;
    margin-bottom: 0.5vh;
    text-align: center; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="username"] {
    width: 100%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
}

input[type="date"]{
    width: 30%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
}

.nombre-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
    margin-bottom: 1vh; /* Espacio entre los campos */
}

.apellido-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
    margin-bottom: 1vh; 
}

input[type="date"] {
    width: 90%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position: relative;
    left: -2vw;
    
}

input[type="nombre"]{
    width: 120%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position:relative;
    left: -5.3vw;
}


input[type="apellido"]{
    width: 120%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position:relative;
    left: 1vw;
}


input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
button[type="submit"]:hover,
input[type="date"]:hover {
    cursor: text;
}

button[type="submit"] {
    background-color: #8322d8;
    width: 50%;
    height: 5vh; /* Cambiado el valor de 10vh a 5vh */
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    font-size: 1.8vh;
    color:#ffffff;
    position: relative;
    top: 1vw;
}

button[type="submit"]:hover {
    background-color: #450380;
}

.footer {
    background-color: #ffffff;
    padding: 2vw 2vh;
    text-align: center;
    width: inherit;
    font-size: 3vh;
}

.contact-us {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.copyright {
    font-size: 1.5vh;
}

.name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.name-input {
    width: 48%;
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: flex-start; /* Alinea el contenido arriba */
}